.center__rect{
    background-color: #061020;
    /* height: 100vh;
    margin-top: auto; */
}

.gpt3__navbar-links_logo img{
    /* margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0; */
}

.links{
   display: flex;
    color: #747474;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 12px;
    padding: 2rem;
}

.links p{
  padding: 1rem 2rem 0 6rem;
  text-transform: uppercase;
}